/* {
  margin: 20px;
  padding: 20px;
} */
h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: normal;
  color: rgba(107, 27, 114, 0.884);
  text-align: center;
}
h1,
h2,
h3 {
  color: rgba(107, 27, 114, 0.884);
}
h2 {
  font-size: 35px;
  font-family: sans-serif;
  background-color: skyblue;
  position: relative;
}
/*PSEUDO ELEMENTS EXAMPLES*/
h2::first-letter {
  font-size: 60px;
  margin-right: o;
}
p::first-line {
  color: red;
}
h2::after {
  content: "TOP";
  background-color: seagreen;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 5px;
  position: absolute;
  top: -1o;
  right: -0.1px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}
h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: rgb(0, 255, 191);
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 30px 15px 10px 50px;
  margin-bottom: 10px;
}

aside {
  background-color: rgba(69, 57, 124, 0.171);
  border-top: 3px solid #881a1a;
  border-bottom: 5px solid #881a1a;
  padding: 20px;
  margin: 10px;
  width: 700px;
}

p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:lest-child {
  margin-bottom: 0;
}

footer p {
  font-size: 10px;
}

#author {
  font-style: italic;
  font-size: 17px;
}

.related-author {
  font-size: 14px;
  font-weight: bold;
}
/* ul {
  list-style: none;
} */
.ul-related {
  list-style: none;
}

body {
  background-color: #8bc34a;
  position: relative;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: oblique;
}
li:nth-child(2) {
  /* color: rgb(58, 20, 94); */
}
a:link {
  color: green;
  text-decoration: none;
}
a:visited {
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted #881a1a;
}
a:active {
  background-color: black;
  font-style: inherit;
}
body {
  border-top: 3px solid gold;
}

.post-img {
  height: auto;
  width: 100%;
}

nav a:link {
  /*background: orangered;
  margin: 20px;
  padding: 7px;
  display: block;
*/
  margin-right: 20px;
  display: inline-block;
  background: orangered;
}
nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
nav {
  text-align: center;
}
